---
import { transformMethodName } from "./utils"
const { permissionMap, apiPrefixLength } = Astro.props as {permissionMap: Record<string, string[]>, apiPrefixLength: number | undefined};
---
<ul>
	{
		Object.entries(permissionMap).map(([methodName, permissions]) => (
			<li>
				<code class="">{
				apiPrefixLength !== undefined ? transformMethodName(methodName, apiPrefixLength)
				: methodName}
				</code>:
				<span class="gap-1">
					[
					{permissions.map((p) => (
						<code>{p}</code><span> </span>
					))}
					]
				</span>
			</li>
		))
	}
</ul>
