---
const apis = [
  "appCacheDir",
  "appConfigDir",
  "appDataDir",
  "appLocalDataDir",
  "appLogDir",
  "audioDir",
  "BaseDirectory",
  "basename",
  "cacheDir",
  "configDir",
  "dataDir",
  "delimiter",
  "desktopDir",
  "dirname",
  "documentDir",
  "downloadDir",
  "executableDir",
  "extname",
  "fontDir",
  "homeDir",
  "isAbsolute",
  "join",
  "localDataDir",
  "normalize",
  "pictureDir",
  "publicDir",
  "resolve",
  "resolveResource",
  "resourceDir",
  "runtimeDir",
  "sep",
  "tempDir",
  "templateDir",
  "videoDir",
  "extensionDir",
  "extensionSupportDir",
];
---

<ul>
  {
    apis.map((methodName) => (
      <li>
        <code>{methodName}</code>
      </li>
    ))
  }
</ul>
