---
import { SecurityPermissionMap } from "@kksh/api/permissions"
import ApiPermissionList from './api-permission-list.astro'
---

<h3>MacOS</h3>
<ApiPermissionList permissionMap={SecurityPermissionMap.mac} />

