---
import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro";
---

<StarlightPage frontmatter={{ title: "API docs" }} hasSidebar={false}>
  <a href="https://docs.api.kunkun.sh/">API Docs</a>
  <div class="not-content h-[80vh]">
    <iframe
      src="https://docs.api.kunkun.sh/"
      allow="fullscreen"
      class="w-full h-full"
      height="100%"></iframe>
  </div>
</StarlightPage>
